{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}
<hr/>
<div class="max-w-lg mx-auto">
    <div class="py-5 border-5 border-gray-200">
        <a href="{% url 'agents:agent-list' %}">Cancel</a>
    </div>
     <h1 class="text-4xl text-gray-800">Create New Agent</h1>

    <div class="mt-5">
        <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button class="w-full bg-blue-500 hover:bg-blue-500 text-white px-3 py-3 round-md" type="submit">submit</button>
    </form>
    </div>
</div>


{% endblock %}
