{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
{% include 'nav.html' %}
<div class="max-w-4xl mx-auto bg-gray-100">
    {% block content %}

    {% endblock content %}
</div>
{% include 'scripts.html' %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
</body>
</html>